# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/

# OS
.DS_Store

# IDE
.vscode/

# Generated outputs
outputs/

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
